.husky/
.vscode/
src/
test/
playwright-report/
.babelrc
.eslintrc.json       
.gitignore
.prettierrc.json                 
.prettierignore
jest.config.ts
playwright.config.ts
tsconfig.json
pnpm-lock.yaml
tsconfig.json
webpack.server.config.ts
webpack.client.config.ts
README.md
AUTOMATIONS.md